body{
  font-family: Bahnschrift, Arial;
}
a, a:visited {
  color: #000;
}
h1{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  border: 2px solid gray;
}
.center{
  margin:auto;
  display: block;
  text-align:center
}
