#list{
  width: 10%;

  margin:auto;
}
.listelem{
  cursor: url("../img/cursorbin.png"), default;
  border-bottom: 2px solid gray;
  padding: 10%;
}

.banana
{
  width: 30%;
  padding: 5%;
}