body
{
    font-family: Bahnschrift, Arial;
    font-size: 1vw;
}

a, a:visited
{
    color: #000;
}

h1
{
    font-size: 5vw;
}

h1, .center
{
    margin:auto;
    display: block;
    text-align:center
}
